{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-between w-100">
        <!-- Tabla -->
        <div class="w-50 mt-4">
            <h1>Kanpoko langile kudeaketa</h1>
            <button id="CreatetButton" class="btn btn-sm btn-primary">
                Sortu
            </button>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Izena</th>
                    <th>Abizena</th>
                    <th>Nondik</th>
                    <th>Giltza</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for langilea in langileak %}
                    <tr>
                        <td>{{ langilea.izena }}</td>
                        <td>{{ langilea.abizena }}</td>
                        <td>{{ langilea.nondik }}</td>
                        <td>{{ langilea.giltza ? 'Bai' : 'Ez' }}</td>
                        <td>
                            <form method="post" action="{{ path('langilea_update_irteera', { id: langilea.id }) }}" onsubmit="return confirmIrteera({{ langilea.giltza|json_encode|raw }});">
                                <button class="btn btn-success">Irteera</button>
                            </form>
                        </td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">Ez dago langilerik.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        document.getElementById("CreatetButton").addEventListener("click", function() {
            // Redirigir a la página "pedestal"
            window.location.href = "{{ path('app_langilea_sortulangile') }}";  // Ajusta el nombre de la ruta si es necesario
        });
        function confirmIrteera(giltza) {
            if (giltza) {
                return confirm("⚠️ Langile honek giltza hartu du, zihurtatu giltza bueltatu duela!");
            }
            return confirm("Ziur zaude?");
        }
    </script>
{% endblock %}
